.cc-movie-list .movie{
    width: 20%;
    padding: 0 15px;
    float: left;
    margin-bottom: 30px;
}

.cc-movie-list .movie-title .cc-occupation{
    color: #ffa73c;
    font-size: 0.6em;
    font-weight: bold;
}

@media screen and (min-width: 991px){
    .cc-movie-list .movie:nth-child(5n+1) {
        clear: both;
    }
}

@media screen and (min-width: 991px){
    .cc-movie-list .movie:nth-child(4n+1) {
        clear: none;
    }
}

@media screen and (max-width: 480px){
    .cc-movie-list .movie {
        width: 100%;
        clear: both;
    }
}